@charset "UTF-8";
/* 重置样式 */
html {
  font-size: 12px;
}
/* 重置默认边距 */
body, p, ul, ol, dl, dd, h1, h2, h3, h4, input, form { margin: 0,; padding: 0;}
/* 样式列表默认样式 */
li { list-style: none; }
/* 包裹容器 */
* { box-sizing: border-box; }
/* 统一界面的字体 */
body {font: 0.138rem/1 'Microsoft yahei'; color: #333;}
/* 字体重置 */
a { text-decoration: none; color: inherit; }
h1, h2, h3, h4, h5, h6, b, strong { font-weight: normal; font-size: 100%;}
i, em {font-style: normal;}
/* 表单元素 */
input { outline: none; border: 0; background-color: transparent; }
button { background-color: inherit; border: none; padding:0; margin:0; outline:none; }
/* img重置 */
img{ vertical-align: top; }

/* 通用样式 */
/* 浮动 */
.fl, .fl_child>* { float: left; }
.fr, .fr_child>* { float: right; }

.fr_child::after,
.fl_child::after,
.clearFixed::after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}

/* 浮动适配ie */
.fl_child, .fr_child, .clearFixed{ *zoom: 1; }

/* 弹性盒子 */
.flex { display: flex; }
.flex > * { flex-shrink: 1; flex-grow: 0; }
.grow_shrink{ flex-shrink:1; flex-grow:1; overflow: hidden; }

/* 定位 */
.p-relative { position: relative; }
.p-absolute { position: absolute; }
/* 块级特性 */
.d-block { display: block; }
.d-none { display: none; }
/* 文本处理 */
.t_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
}
.t_center { text-align: center; }
/* 公共padding值 */
.p-spacing { 
  padding: 0 0.315789rem;
}

.sm-font{
  font-size: 0.263158rem; 
  transform: scale(0.8);
  -webkit-transform: scale(0.78);
  -webkit-transform-origin-X: left;
}

/* 图片处理 */
.img_cover img { width:100%; height:100%; }

/* 辅助样式 */
.bd{border: 1px solid red;}
.red{background-color: red;}
.blue{background-color: blue;}
.green{background-color: green;}
.black{background-color: black;}
.pink{background-color: pink;}
.skyblue{background-color: skyblue;}
.deeppink{background-color: deeppink;}
.aaa{background-color: #aaa;}
.ddd{background-color: #ddd;}